.svg{
    width: 30px;
}
.nav-black {
    background-color: black;
    color: white;
  }
main{
    background-color: black;
}

header{
    background-color: black;
}

.bg-icon{
    background-color: #0dcaf0;
    font-size: 27px;
}

*{
    font-family:'red hat display';
}

.card{
    background-color: #0dcaf0;
    color: white;
    width: 299px;
    padding: 0;
    
}
.card-deck {
    margin-top: 20px;
    margin-right: 120px;
    margin-bottom: 20px;
    margin-left: 120px;
}
