.svg{
    width: 30px;
}
.navbar-black {
    background-color: black;
    color: white;
  }
main{
    background-color: black;
}

.navbar-light {
    padding: 0%;
}



.bg-icon{
    background-color: #0dcaf0;
    font-size: 27px;
}

*{
    font-family:'red hat display';
}

.card{
    background-color: #0dcaf0;
    color: white;
    width: 299px;
    padding: 0;
    
}
.card-deck {
    margin-top: 20px;
    margin-right: 120px;
    margin-bottom: 20px;
    margin-left: 120px;
}

.btn {
    background-color: #0dcaf0;
}

form {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
}

footer {
    background-color: #0dcaf0;
}

.fa-brands {
    font-size: 25px;
    margin: 1%;
}

a {
    color: white;
}
